h1{
  text-align: center;
  font-size: 72px;
  font-weight: 300;
  color: rgb(118, 72, 241);
  opacity: .4;
  margin: 32px auto;
}

.box{
  width: 600px;
  background-color: #fff;
  box-shadow: 0 0 6px #000;
  margin: 0 auto;
}

.box-header input{
  width: 100%;
  padding:8px 32px;
  font-size: 24px;
  font-weight: 300;
  border: none;
  border-bottom: 1px solid rgb(158, 175, 221);
  box-sizing: border-box;
}

.box-header input:focus{
  outline: none;
  border: 1px solid rgb(243, 152, 67);
}

.box-header input::placeholder{
  font-weight: 200;
}

.box-body .item{
  padding: 8px 16px;
  border-bottom: 1px solid rgb(230, 227, 227);
  font-size: 20px;
  position: relative;
}

.completed{
  color:rgb(100, 99, 99);
  opacity: .5;
  text-decoration: line-through;
}

.box-body .item button{
  position: absolute;
  top: 50%;
  right: 50px;
  transform: translateY(-50%);
  display: none;
}

.box-body .item:hover button{
  display: block;
}

.d-flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.box-footer{
  padding: 4px 16px;
}